<%- include("partials/header") -%>
    <div class="table">
        <header>
            <div class="jumbotron">
                <h1 class="pl-3 text-center">The Academy Championship</h1>
                <div class="d-flex justify-content-center mt-3">
                    <a href="/fixture" class="mx-3">Fixtures</a>
                    <a href="/result" class="mx-3">Results</a>
                </div>
                <aside class="text-left col-md-3">
                    <label class="">Season:</label>
                    <select name="season" id="" class="form-control">
                        <option value="<%= currentSeason._id %>"><%= currentSeason.name %></option>
                        <% seasons.forEach((season)=>{ %>
                            <option value="<%= season._id %>"><%= season.name %></option>
                        <% }) %>
                    </select>
                </aside>
            </div>
        </header>
        <div class="container">
            <main>
                <table id="standings">
                    <thead>
                        <tr>
                            <td>S/N</td>
                            <td>Team</td>
                            <td>MP</td>
                            <td>W</td>
                            <td>D</td>
                            <td>L</td>
                            <td>GF</td>
                            <td>GA</td>
                            <td>GD</td>
                            <td>Pts</td>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </main>
            <br>
        </div>
    </div>

<%- include("partials/footer") -%>
