<%- include("../partials/header") -%>
    <header class="jumbotron">
        <h1>Result</h1>
        <div class="d-flex justify-content-start">
            <a href="/result/" class="ml-2">All Results</a>
            <a href="/fixture/" class="mx-2">Back to Fixtures</a>
        </div>
    </header>
    <section class="container text-center">
        <div class="m-3 text-center">
            <h3><%= result.fixture.homeTeam.name %></h3> <h5 class="my-2 mx-5"><%= result.homeTeamScore %> - <%= result.awayTeamScore %></h5> <h3><%= result.fixture.awayTeam.name %></h3>
            (<%= moment(result.date).format("DD-MM-YYYY") %>)
        </div>
        <div class="m-3">
            <pre class="h5"><%= result.info %></pre>
        </div>
        <div>
            <a href="/result/<%= result._id %>/edit" class="btn btn-primary">Edit</a>
        </div>
    </section>

<%- include("../partials/footer") -%>
