<%- include("../partials/header") -%>
    <header class="jumbotron">
        <h1>All Results</h1>
    </header>
    <div class="container">
        <ol>
            <% results.forEach((result)=> { %>
                <li class="h5">
                    <span class="h5">
                        <%= result.fixture.homeTeam.name %>
                    </span>
                    <span class="h4 mx-3">
                        <%= result.homeTeamScore %> - <%= result.awayTeamScore %>
                    </span>
                    <span class="h5">
                        <%= result.fixture.awayTeam.name %>
                    </span>
                    <div class="h5">
                        (<%= moment(result.date).format("DD-MM-YYYY") %>)
                    </div>
                </li>
            <% }) %>
        </ol>
    </div>

<%- include("../partials/footer") -%>
