<%- include("../../partials/header") -%>
    <header class="jumbotron">
        <h1>Auto Generate Fixtures</h1>
        <div>
            <a href="/fixture">Back to Fixtures</a>
        </div>
    </header>
    <section class="container" id="auto">
        <form action="/fixture/auto" method="POST">
            <div>
                <h2>Match Date</h2>
                <div class="form-group">
                    <label for=""><b>Select the date of Match:</b></label>
                    <input type="date" name="date" value="<%= moment().format("YYYY-MM-DD") %>" id="matchDate" class="form-control">
                </div>
            </div>
            <div class="mt-5">
                <h2>Matchweek Details</h2>
                <div class="form-group">
                    <label for=""><b>From:</b></label>
                    <input type="date" name="date" value="<%= moment().startOf("week").format("YYYY-MM-DD") %>" min="<%= moment("2023-01-17").format("YYYY-MM-DD")%>" id="fixtures-date-from" class="form-control">
                </div>
                <div class="form-group">
                    <label for=""><b>To:</b></label>
                    <input type="date" name="date" value="<%= moment().endOf("week").format("YYYY-MM-DD") %>" id="fixtures-date-to" class="form-control">
                </div>
            </div>
            <div class="text-center mt-5">
                <input type="submit" value="Auto Generate Fixtures for the Week" class="btn btn-primary">
            </div>
        </form>
    </section>

<%- include("../../partials/footer") -%>
